

nav {
    width: 6000%;
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    right: 10px;
    bottom: 10px;
}

nav::before{
  
    content:'';
    display: block;
    max-width: 1920px;
    height: 200%;
    width: 200%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 312.5%;
}
/*обьекты по горизонтали*/
ul li{
    float:left;
}

 ul li a {
    color: white;
    display: block;
    /* height: 50px; */
    padding:0 200px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 312.5%;
} 

ul li a:hover {
    background: red;
}
 /* .search {
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 900px;
    justify-content: center;
}   */

.pict1 {
    position: relative;
    display: flex;
    float:left;
    top: -5px;;
    left: 8;
}

 .custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  font-family: 'Nunito Sans', sans-serif;
}
.LogIn:hover {
    color: #f0094a;
    background: transparent;
     box-shadow:none;
  }
  .LogIn:before,
  .LogIn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .LogIn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .LogIn:hover:before,
  .LogIn:hover:after{
    width:100%;
    transition:800ms ease all;
  } 
  /* .box1-input {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .box1-input label {
    color: #fff;
    margin-bottom: 10px;
  }
  
  .box1-input input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #282c34;
    color: #fff;
    font-size: 16px;
  }
  
  .box1-input input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  } */
  

